<div class="container-fluid">
  <div class="row text-center">
    <h1>
      Welcome to Localize
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-4" i18n="Person Name|Name of the Person@@personName">
      Name
    </div>
    <div class="col-sm-4" i18n="Email Address|Email Address of the Person@@emailAddr">
      Email Address
    </div>
    <div class="col-sm-4" i18n="Mobile|Mobile Number of the Person@@mobileNo">
      <fa-icon [icon]="faMobile"></fa-icon> Mobile
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      Sachin Hegde
    </div>
    <div class="col-sm-4">
      thund3r.3mp3r0r@gmail.com
    </div>
    <div class="col-sm-4">
      9123456789
    </div>
  </div>
</div>
